<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v={{ timestamp }}"> 

</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/alogo.png') }}" alt="Logo">
            <span>Mission-Smart Cities</span>
        </div>
        <nav>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <form id="uploadForm" action="/upload-file" method="post" enctype="multipart/form-data">
            <label><h2>Select Model: </h2></label>
            <div class="model-select">
                <input type="radio" id="option1" name="model" value="cattle" class="radio-button-input">
                <label for="option1" class="radio-button-label">Cattle Detection</label>
                <input type="radio" id="option2" name="model" value="pothole" class="radio-button-input">
                <label for="option2" class="radio-button-label">Pothole Detection</label>
                <input type="radio" id="option3" name="model" value="garbage" class="radio-button-input">
                <label for="option3" class="radio-button-label">Garbage Detection</label>
            </div>
            <div class="dropzone-box">
                <div class="file-upload">
                    <h2>Upload and attach a file:</h2>
                    <p>Click to upload or drag and drop</p>
                    <div class="dropzone-area">
                        <div class="file-upload-icon"></div>
                        <input type="file" required id="upload-file" name="uploadedFile" onchange="updateFileName(this)">
                        <p class="file-info">No Files Selected</p>
                    </div>
                    <div class="dropzone-actions">
                       <button type="reset">Cancel</button>
                       <button id="submit-button" type="submit">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <footer>
        <div class="footer-content">
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Smart City</a></p>
            <div class="footer-menu">
                <ul class="f-menu">
                    <li><a href="">Contact</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script>
        function updateFileName(input) {
            const fileInfo = document.querySelector('.file-info');
            
            if (input.files.length > 0) {
                const fileName = input.files[0].name;
                fileInfo.textContent = fileName;
            } else {
                fileInfo.textContent = 'No Files Selected';
            }
        }
    </script>
</body>
</html>
